.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.inputSortContainer {
	display: flex;
	gap: 10px;
}

.generatedLine {
	margin-top: 10px;
}

.resultContainer {
	display: flex;
	flex-direction: row;
	gap: 40px;
	height: 1000px;
	width: 1000px;
}

.listsContainer {
	margin-top: 20px;
	display: flex;
	gap: 20px;
}
.checkbox {
	margin-right: 5px;
}
